{% extends './home.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
		<a class="nav-link active" href="http://{{ ip }}:8080/">HOME</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link active" href="contact">CONTACT</a>
        </li>
      -->
      </ul>
    </div>
</nav>

<br></br>
{% load static %}
<p>Total number of customers : {{total}}</p>
<div id="chart"></div>
    <script>
        // Render the Plotly chart using the generated HTML code
        document.getElementById('chart').innerHTML = '{{ chart_html|safe }}';
    </script>
<br></br>
<br></br>
{% endblock %}
